p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}
h3{
    color:rgb(147, 55, 233);
}
.external{
    color: blue
}
.External{
    color: rgb(10, 10, 10);
    background-color:rgb(238, 229, 229);
}
#change{
    color: blue;
}
.position{
    margin-left: 100px;
    margin-right: 600px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid black;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}